nav {
    width: 100%;
    height: 40px;
    background-color: #0c0c0c;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
}

.nav-link {
    -webkit-app-region: no-drag;
    padding: 15px 15px 5px 15px ;
    cursor: pointer;
    font-size: 20px;
}

.nav-link:hover {
    background-color: white;
    color: #0c0c0c;
}

.container {
    height: 94.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #121212;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    color: #FFF;
    padding: 15px;
    border-style: solid;
    border-color: #FFF;
    border-width: 1px;
}

.containerInput {
    background-color: rgba(255, 255, 255, 0,2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #FFF;
    outline: none;
    margin-right: 8px;
    font-family: 'Courier New', Courier, monospace;
}

.containerInput input::placeholder{
    color: #F1F1F1;
}

.buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content:  center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover {
    transform: scale(1.2);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    color: #FFF;
    background-color: #121212;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF;
}

.main h2 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    font-size: 39px;
}

.main p {
    margin-left: 10px;
}

.main span {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    font-weight: bold;
}

.logradouro {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 5px;
}

.complemento {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 10px;
}

.bairro {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 10px;
}

.localidade {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 10px;
}

.ddd {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    font-weight: bold;
}
@media (max-width: 620px){
    .title{
        font-size: 60px;
    }

    .main h2 {
        font-size: 28px;
    }

    .main {
        width: 80%;
        min-height: 250px;
    }
}